body{
    background-color:"#3333ff";
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2,5em;
    color:#ffccff;
    background-color:#ff66ff;
    fill-rule:evenodd
}

section{
    background-color:#000099;
    width: 100%;
}

img{
    height: 300px;
    max-width: 100%;
    border: 5px;
    background-color:#3399ff;
    border-radius: 10px;
}